.Shop>h1{
    color: white;
}


.Shop{
    background-image: url("./login_back.jpg");
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Cochin';
}

.Shop-Up{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Shop-My{
    width: 50%;
}

.Shop-Upload{
    width: 50%;
}

.Shop-Down{
    padding-left: 80px;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.Shop-Avatar-List{
    padding-top: 10px;
    margin-top: 50px;
    height: 140px;
    display: flex;
    flex-direction: row;
    width: 90%;
    overflow-x: scroll;
    padding-right: 100px;
}

.Shop-Avatar-List::-webkit-scrollbar {     width: 10px; height: 10px;   } 
.Shop-Avatar-List::-webkit-scrollbar-track {     background: rgb(179, 177, 177);     border-radius: 10px; } 
.Shop-Avatar-List::-webkit-scrollbar-thumb {     background: rgb(136, 136, 136);     border-radius: 10px;   } 
.Shop-Avatar-List::-webkit-scrollbar-thumb:hover {     background: rgb(100, 100, 100);     border-radius: 10px;   } 
.Shop-Avatar-List::-webkit-scrollbar-thumb:active {     background: rgb(68, 68, 68);     border-radius: 10px;   }

.Avatar{
    min-width: 100px;
    height: 100px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.1);
}

.Avatar:hover{
    min-width: 100px;
    height: 100px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: all .2s ease-in-out;
}

.back{
    position: absolute; 
    width: 50px;
    height: 50px;
    right:30px;
    top:30px;
    border-radius: 100%;
    border: solid white;
    font-family: "Cochin";
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: large;
}

.back:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: all .2s ease-in-out;
}