.Shop>h1{
    color: white;
}


.Shop{
    background-image: url("./login_back.jpg");
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Cochin';
    justify-content: center;
    align-items: center;
}

.shop-window{
    height: 75vh;
    width: 55vw;
    display: flex;
    flex-direction: row;
    /* background-color: rgba(255, 255, 255, 0.4); */
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.shop-choice-container{
    height: 65vh;
    width: 10vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.4); */
    /* background-color: blue; */
}
.shop-choice-container>button{
    width: 130px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.shop-choice-container>button:hover{
    transform: scale(1.1, 1.1);
}

.shop-items-container{
    height: 65vh;
    width: 50vw;
    /* background-color: rgba(255, 255, 255, 0.4); */
    border-radius: 10px;
    box-shadow: 5px 5px 6px 4px rgba(0,0,0,0.3);
}


.shop-items-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 65%;
    width: 580px;
    padding: 0px 0 20px 0;
}

.ChatRooms-VerseList::-webkit-scrollbar {
    display: none;
}

.ChatRooms-VerseList-Verse{
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    min-width: 480px;
    min-height: max-content;
    padding: 10px 10px 10px 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: center;
    text-align: left;
}



.back{
    position: absolute; 
    width: 50px;
    height: 50px;
    right:30px;
    top:30px;
    border-radius: 100%;
    border: solid white;
    font-family: "Cochin";
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: large;
}

.back:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: all .2s ease-in-out;
}