.ChatRooms{
    background-image: url("./login_back.jpg");
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
}

.ChatRooms-My{
    flex-direction: column;
    height: 100vh;
}

.ChatRooms-My-Add{

}

.ChatRooms-My-VerseList{
    margin-left: 50%;
    transform: translateX(-200px);
    max-height: 37%;
    overflow-y: scroll;
    width: 560px;
    padding: 0px 0 20px 0;
    align-items: center;
}

.ChatRooms-My-VerseList::-webkit-scrollbar{
    display: none;
}

.ChatRooms-My-VerseList-Verse{
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
    max-width: 400px;
    min-height: max-content;
    padding: 10px 10px 10px 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: center;
    text-align: left;
    flex-direction: row !important;
}

.ChatRooms-VerseList{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 65%;
    width: 560px;
    padding: 0px 0 20px 0;
}

.ChatRooms-VerseList::-webkit-scrollbar {
    display: none;
}

.ChatRooms-VerseList-Verse{
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    min-width: 480px;
    min-height: max-content;
    padding: 10px 10px 10px 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: center;
    text-align: left;
}

.ChatRooms-VerseList-Verse:hover{
    cursor: pointer;
    box-shadow: 5px 5px 6px 4px rgba(0,0,0,0.3);
    transition: all .2s ease-in-out;
    border-radius: 10px;
    min-width: 480px;
    min-height: max-content;
    padding: 10px 10px 10px 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: center;
    text-align: left;
    transform: scale(1.1, 1.1);
}

.ChatRooms-VerseList-Verse-header{
    font-size: calc(1vh + 13px);
    /* font-weight: 400; */
}

.ChatRooms-VerseList-Verse-content{
    font-size: small;
}

.createRoom-input{
    background-color: #777;
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.1);
}

.createRoom-submit{
    margin-top: 4vh;
}

.quit{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 6vh;
    width: 3vw;
    left: 3vw;
    top: 4vh;
    display: flex;
    position: absolute; 
}

.quit>a{
    font-family: "Cochin";
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.quit:hover{
    transform: scale(1.1, 1.1);
}