.ChatRooms{
    background-image: url("./login_back.jpg");
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
    padding-right: 8vw;
}

.ChatRooms-My{
    flex-direction: column;
    height: 100vh;
    width: max-content;
}

.ChatRooms-My-Add{
    flex-direction: column;
}

.ChatRooms-My-VerseList{
    max-height: 37%;
    overflow-y: scroll;
    width: 560px;
    padding: 0px 0 20px 0;
    align-items: center;
}

.ChatRooms-My-VerseList::-webkit-scrollbar{
    display: none;
}
/* 
.ChatRooms-My-VerseList-Verse{
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.1);
    border-radius: 5px !important;
    width: 400px !important;
    min-height: max-content;
    padding: 10px 10px 10px 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.ChatRooms-My-VerseList-Verse:hover{
    cursor: pointer;
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.1);
    border-radius: 5px !important;
    width: 400px !important;
    min-height: max-content;
    padding: 10px 10px 10px 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.9) !important;
    transition: all .2s ease-in-out;
    transform: scale(1.1, 1.1);
}

.ChatRooms-My-VerseList-Verse-header{
    font-size: calc(1vh + 13px);
    min-width: 88%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ChatRooms-My-VerseList-Verse-button{

} */

.ChatRooms-VerseList{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 65%;
    width: 560px;
    padding: 0px 0 20px 0;
}

.ChatRooms-VerseList::-webkit-scrollbar {
    display: none;
}

.ChatRooms-VerseList-Verse{
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.1);
    border-radius: 5px !important;
    width: 480px;
    min-height: max-content;
    padding: 10px 10px 10px 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.ChatRooms-VerseList-Verse:hover{
    cursor: pointer;
    box-shadow: 5px 5px 6px 4px rgba(0,0,0,0.3);
    transition: all .2s ease-in-out;
    border-radius: 5px;
    min-width: 480px;
    min-height: max-content;
    padding: 10px 10px 10px 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1, 1.1);
}

#spe:hover{
    cursor: auto;
}

.ChatRooms-VerseList-Verse-header{
    font-size: calc(1vh + 13px);
    min-width: 88%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: blueviolet; */
}

.ChatRooms-VerseList-Verse-content{
    font-size: calc(1vh + 13px);
    height: 2rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ChatRooms-VerseList-Verse-content-2{
    font-size: calc(1vh + 13px);
    height: 2rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ChatRooms-VerseList-Verse-content-2:hover{
    cursor: pointer;
    font-size: calc(1vh + 13px);
    height: 2rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: red;
}

.quit{
    position: absolute; 
    width: 50px;
    height: 50px;
    right:30px;
    top:30px;
    border-radius: 100%;
    border: solid white;
    font-family: "Cochin";
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: large;
}

.quit:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: all .2s ease-in-out;
}

.changePassword{
    position: absolute; 
    width: 50px;
    height: 50px;
    left:30px;
    top:30px;
    border-radius: 100%;
    border: solid white;
    font-family: "Cochin";
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: large;
}

.changePassword:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: all .2s ease-in-out;
}