<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    <div>
        Introduction: balablabal
    </div>
    <form action="/user/login/" method="GET">
        <div>
            <h>Click Here to Login</h>
            <input type="submit" value="Here">
        </div>
    </form>
    <form action="/user/register/" method="GET">
        <div>
            <h>Click Here to Register</h>
            <input type="submit" value="Here">
        </div>
    </form>
    <form action="/chat/chooseroom" method="GET">
        <div>
            <h>Click Here to Choose Room</h>
            <input type="submit" value="Here">
        </div>
    </form>
</body>
</html>